.alert {
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 3px;
}
.disabled {
  color: gray;
  /*cursor: default;*/
}
@media screen and (max-width: 600px) {
  .rm-name {
    display: block
  }
  .pl-add-btn,
  .remove-btn {
    width: 100%;
    text-align: center!important;
  }
  .submit-section i,
  .remove-btn i {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .rm-name {
    display: none;
  }
}
