<ul class="dropdown-content" id="dropdown1">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>
<nav class="blue-grey darken-3">
    <ul id="slide-out" class="side-nav">
        <li><a class="brand-logo" [routerLink]="['/PlacesList']">HomeTown.Zp</a></li>
        <!--<li><accounts-ui></accounts-ui></li>-->
        <li><a [routerLink]="['/SearchPage']">Поиск</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <div class="nav-wrapper">
    <a class="brand-logo" [routerLink]="['/PlacesList']">HomeTown.Zp</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <accounts-ui></accounts-ui>
      </li>
      <li>
        <a [routerLink]="['/SearchPage']">Поиск</a>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown1" href="#!">Выпадающее Меню
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
