<div class="container">
  <form #f="ngForm" (submit)="savePlace(place)" *ngIf="place">
    <div class="input-field">
      <input value="{{place.name}}" class="" id="name" type="text" [(ngModel)]="place.name">
      <label class="active" for="name">Имя</label>
    </div>
    <div class="input-field">
      <input value="{{place.description}}" class="" id="descr" type="text" [(ngModel)]="place.description">
      <label class="active" for="descr">Описание</label>
    </div>
    <div class="input-field">
      <input value={{place.location}} class="" id="location" type="text" [(ngModel)]="place.location">
      <label class="active" for="location">Местоположение</label>
    </div>
    <div class="submit-section">
      <button class="waves-effect waves-light btn blue-grey darken-3  pl-add-btn" [routerLink]="['/PlacesList']">
        <i class="material-icons left">settings_backup_restore</i>Отменить</button>
        <button type="submit" class="waves-effect waves-light btn blue-grey darken-3  pl-add-btn">
          <i class="material-icons left">add</i>Сохранить</button>
    </div>
  </form>
    <ul>
        <h3>Пользователи, которые были здесь:</h3>
        <li *ngFor="#user of users">
            <div>{{ user | displayName }}</div>
            <button *ngIf="place.public === false" class="waves-effect waves-light btn blue-grey darken-3" (click)="invite(user)">Invite</button>
        </li>
    </ul>
    <div>
        <h3>Ответ на вопрос</h3>
        <input class="waves-effect waves-light btn blue-grey darken-3" type="button" value="Я там был!" (click)="reply('yes')">
        <input class="waves-effect waves-light btn blue-grey darken-3" type="button" value="Не помню" (click)="reply('maybe')">
        <input class="waves-effect waves-light btn blue-grey darken-3" type="button" value="Нет" (click)="reply('no')">
    </div>
</div>
