<div class="container main-wrapper">
  <h1 class="center-align">Места</h1>
  <div class="row">
    <div class="row alert green" *ngIf="!user">
      <span>Вы должны быть зарегистрированы для редактирования мест<i class="material-icons right">info_outline</i></span>
    </div>
    <places-form class="col s12 m6 l6"></places-form>
    <div class="col s12 m6 l6">
      <div class="row">
        <div class="col s9 m9 l9 input-field">
          <input type="text" #searchtext id="search_loc">
          <label class="" for="search_loc">Найти по местоположению</label>
        </div>
        <div class="col s3 m3 l3">
          <button type="button" (click)="search(searchtext.value)" class="waves-effect waves-light btn blue-grey darken-3" style="margin-top: 24px;">Искать</button>
        </div>
      </div>
        <div class="row">
            <h4>Места:</h4>
                <select #sort (change)="changeSortOrder(sort.value)">
                    <option value="1" selected>По возростанию</option>
                    <option value="-1">По убыванию</option>
                </select>
        </div>
      <ul>
        <li *ngFor="#place of places | paginate:{currentPage: 1, itemsPerPage: pageSize, totalItems: placesSize}" class="row" >
          <div class="col s12 m12 l12">
            <b>Многие там побывали?</b>: <br>
            Да - {{place | rsvp:'yes'}} <br>
            Возможно - {{place | rsvp:'maybe'}} <br>
            Нет - {{place | rsvp:'no'}} <br>
          </div>
          <div class="col s12 m10 l10">
            Имя:
            <a class="disabled" [ngClass]="{'green-text': !!user}" [routerLink]="['/PlaceDetails', {placeId: place._id}]">
              {{place.name}}
            </a>
            <br> Описание: {{place.description}}
            <br> Местоположение: {{place.location}}
            <br>
          </div>
          <div class="col s12 m2 l2">
            <button *ngIf="!!user" (click)="removePlace(place)" class="waves-effect waves-light btn red accent-2 remove-btn">
              <i class="material-icons">clear</i>
              <span class="rm-name">Удалить</span>
            </button>
          </div>
          <hr class="col s12 m12 l12">
        </li>
      </ul>
        <pagination-controls (change)="onPageChanged($event.page)"></pagination-controls>
    </div>
  </div>
</div>
