<div>
  <form [ngFormModel]="placesForm" #f="ngForm" (submit)="addPlace(f.value)">
    <div class="input-field">
      <input class="" id="name" type="text" ngControl="name" [disabled]="!user">
      <label for="name">Имя</label>
    </div>
    <div class="input-field">
      <input class="" id="descr" type="text" ngControl="description" [disabled]="!user">
      <label for="descr">Описание</label>
    </div>
    <div class="input-field">
      <input class="" id="location" type="text" ngControl="location" [disabled]="!user">
      <label for="location">Местоположение</label>
    </div>
    <input type="checkbox" ngControl="public" id="public" [disabled]="!user"/>
      <label for="public">Показать всем</label>
    <div class="submit-section">
      <button type="submit" class="waves-effect waves-light btn blue-grey darken-3  pl-add-btn" [disabled]="!user">
        <i class="material-icons left">add</i>Добавить</button>
    </div>
  </form>
</div>
