<div class="container main-wrapper">
  <h1 class="center-align">Страница поиска</h1>
  <div class="row">
    <places-form class="col s12 m6 l6"></places-form>
    <div class="col s12 m6 l6">
      <ul>
        <li *ngFor="#place of places" class="row">
          <div class="col s12 m10 l10">
            Search.Page
          </div>
          <div class="col s12 m2 l2">
            <button class="waves-effect waves-light btn red accent-2 remove-btn">
              <i class="material-icons">clear</i>
              <span class="rm-name">Удалить</span>
            </button>
          </div>
          <hr class="col s12 m12 l12">
        </li>
      </ul>
    </div>
  </div>
</div>
